!jest.config.js
!lib/catadopt/app/main.js
!lib/dogadopt/app/main.js
!lib/getallpets/app/main.js
!lib/searchlist/app/main.js

*.d.ts
node_modules
*.js

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel build directories
.cache
.build

cdk.context.json

# IDE
.idea

**/.DS_Store
