<section class="pet-hero">
    <div class="container">
        <img class="pet-hero-title" src="~/images/main_banner_text.png" 
             decoding="async"
             loading="eager" 
             fetchpriority="high"/>
    </div>
</section>

@ViewData["pethistory"].ToString()