# Go binaries
PetAdoptions/payforadoption-go/petadoptions
**/.DS_Store
**/.idea
cdk.out/*
PetAdoptions/cdk/pet_stack/out/out.json
observability/cdk.out/*
observability/node_modules
observability/node_modules/*