<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- keep MDC (OTel trace_id/span_id) as top-level fields -->
            <includeMdc>true</includeMdc>
        </encoder>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="stdout" />
    </root>

    <!-- LOG "ca.petsearch" at DEBUG level -->
    <!-- <logger name="ca.petsearch" level="debug" additivity="false" /> -->

    <!-- Fix for EC2MetadataUtils described in https://docs.spring.io/spring-cloud-aws/docs/2.2.3.RELEASE/reference/html/\#\#amazon-sdk-configuration -->

    <logger name="com.amazonaws.util.EC2MetadataUtils" level="error" additivity="false" />
    <logger name="com.amazonaws.internal.InstanceMetadataServiceResourceFetcher" level="error" additivity="false" />


</configuration>